* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-fam;
  font-size: $base-font-size;
  color: $main-font;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

img {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

span {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  padding: 96px 0;

  @media (min-width: 960px) and (max-width: 1440px) {
    padding: 48px 0;
  }
}

.up {
  position: absolute;
  right: 32px;
  bottom: 32px;

  & svg rect {
    transition: all 0.2s ease;
  }

  &:hover svg rect {
    fill: $green;
  }
}
